{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="static/css/style.css">
<section id="layout-content">
    <div id=login class="text-center">
        <div class="container-fluid">
            <div class="row" >
                <div class="col-md-4 offset-md-4 col-sm-6 ofsset-sm-3 col-xs-8 ofsset-xs-2">
                    <div id="regform">
                        <h1 class="mb-3 font-weight">Login</h1>
                        <!-- Login -->
                        <form method="POST" action="/login" enctype="multipart/form-data">
                            {% with messages = get_flashed_messages() %}
	                        {% if messages %}
		                    {% for message in messages %}
		                    <p>{{ message }}</p>
		                    {% endfor %}
	                        {% endif %}
                            {% endwith %}
                            <!-- Login -->
                            <input type="email" name="email" placeholder="Email"><br>
                            <input type="password" name="password" placeholder="Password"><br>
                            <input type="submit" id="Submit" value="Login"><br>
                        </form>
                        <a href="/register" >Dont have an account? Create one</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}