/* Error 404 Page CSS */
#error404{
    background: url(../img/error404.jpg) no-repeat right center; 
    height: calc(100vh - 56px); 
    display: block;
    position: relative;
    background-size: 600px 600px;
}
#error404 h1{
    font-size: 8rem;
    margin-top: 2rem;
    color: white;
}
/*  Navbar cosmetics */
.navlink i{
    margin-right: 10px;
}

.navbarDropdown {
    color: white;
}

.dropdown-content:hover {background-color: #ddd}

.dropdown-menu bg-dark {background-color: #ddd}
/* Cosmics of Inputs, Text, and Select Menus */
#regform input { 
    min-width: 120px;
    width: 80%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#regform select { 
    min-width: 120px;
    width: 80%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#regform {
    color: white;
    margin-top: 50%;
    height: 300px;
    width: 100%;
}

#regform label {
    color: white;
}

#regform a {
    margin-top: 20px;
    color: white;
}

#Submit {
    margin-top: 15px;
}
/* Profile Picture */ 
#avatar img{
    width: 300px;
    height: auto;
    margin-left: 5%;
}

/* Sets background to image and empty space to color */ 
body {
    background-image: url(../img/view.jpg); 
    background-color: #21062f; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
/* Masonry */
.grid{
    margin-left: 15px;
}
.grid-item{
    width: calc(33.33333% - 30px);
    float: left;
    margin-bottom: 30px;
    color: white;
}

.grid-item img{
    width: 100%;
    height: auto;
}
/* Images */
#images {
    padding-top: 125px
}

#images h2 {
    font-size: 8rem;
    color: white;
    margin-bottom: 25px;
}

#avatar {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

@media (max-width: 576px) {
    body{
        margin-top: 100px;
    }
}  
/* Image Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal-body img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fa.fa-times { 
    float:right;
}

#image {
    width: 600px;
    height: auto;
}
/* Navbar Cosmics */ 
.dropdown-item {
    color: #ffffff;
}

.nav-item {
    color: #ffffff;
}

.nav-link, .navbar-brand {
    color: #ffffff
}

.navbar {
    color: #ffffff;
    background: #21062f;
}