#error404{
    background: url(../img/error404.jpg) no-repeat right center; 
    height: calc(100vh - 56px); 
    display: block;
    position: relative;
    background-size: 600px 600px;
}
#error404 h1{
    font-size: 8rem;
    margin-top: 2rem;
}
.navlink i{
    margin-right: 10px;
}

.navbarDropdown {
    color: white;
}

.dropdown-content:hover {background-color: #ddd}

.dropdown-menu bg-dark {background-color: #ddd}

#regform-register input { 
    min-width: 120px;
    width: 80%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#regform-login input { 
    min-width: 120px;
    width: 80%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#regform-profile input { 
    min-width: 120px;
    width: 80%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#regform-register {
    margin-top: 45%;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    height: 350px;
    width: 100%;
}

#regform-login {
    margin-top: 50%;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    height: 300px;
    width: 100%;
}

#regform-profile {
    margin-top: 30%;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    height: calc(600px+img hieght);
    width: 100%;
}

#avatar {
    width: 300px;
    height: auto;
}

#Signup {
    margin-top: 15px;
}

#Save {
    margin-top: 15px;
}

#Login {
    margin-top: 15px;
}

body {
    background-image: url(../img/view.jpg); 
    background-color: #21062f; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
